# Compréhensions

Dans ce TP, vous allez dans un premier temps reprendre des éléments du TP précédent sur l'indexation de texte pour produire le dictionnaire `data` qui associe aux entiers successifs distincts (0, 1, 2...) un des articles de la liste `news` après avoir exécuté le code suivant. A la différence du TP précédent, la génération du dictionnaire `data` doit se faire en utilisant une compréhension.

In [1]:
import pandas as pd

df = pd.read_csv('articles1.csv')
news = [content for content in list(df['content'])]

In [3]:
df

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."
...,...,...,...,...,...,...,...,...,...,...
95,95,17394,Corzine Reaches $5 Million Settlement With Reg...,New York Times,Ben Protess,2017-01-06,2017.0,1.0,NaN,After more than five years of investigations a...
96,96,17395,Sears Agrees to Sell Craftsman to Stanley Blac...,New York Times,Michael J. de la Merced,2017-01-06,2017.0,1.0,NaN,The question from the analyst on Thursday was ...
97,97,17396,L.I.R.R. Train That Crashed Was Going Over Twi...,New York Times,Emma G. Fitzsimmons,2017-01-06,2017.0,1.0,NaN,A Long Island Rail Road train that crashed in ...
98,98,17397,Record 2016 for U.S. Auto Industry Long Road B...,New York Times,Bill Vlasic,2017-01-05,2017.0,1.0,NaN,DETROIT — Unexpectedly strong sales of new ...
99,99,17398,"Macy’s Will Cut 10,000 Jobs After Poor Holiday...",New York Times,Christopher Mele,2017-01-04,2017.0,1.0,NaN,Struggling with sagging sales over another cru...

1 - Ecrivez, par le biais d'une compréhension, un dictionnaire `length` qui associe à chaque identifiant d'article, la longueur de l'article en termes de nombres de mots

In [6]:
id = [id for id in list(df['id'])]
length = {id[i]: len(news[i]) for i in range(len(news))}
length

{17283: 5607,
 17284: 27834,
 17285: 14018,
 17286: 12274,
 17287: 4195,
 17288: 911,
 17289: 3549,
 17290: 17996,
 17291: 8890,
 17292: 4585,
 17293: 6841,
 17294: 10845,
 17295: 7733,
 17296: 3741,
 17297: 9932,
 17298: 7939,
 17300: 9498,
 17301: 8824,
 17302: 3334,
 17303: 1773,
 17305: 6059,
 17306: 4476,
 17307: 7335,
 17308: 10446,
 17309: 7997,
 17311: 5787,
 17312: 6469,
 17313: 11053,
 17314: 5334,
 17317: 16520,
 17318: 6209,
 17319: 7339,
 17321: 4622,
 17323: 2482,
 17324: 3089,
 17325: 4639,
 17326: 8098,
 17327: 5943,
 17328: 3899,
 17330: 8008,
 17331: 5956,
 17332: 7786,
 17333: 8314,
 17334: 9415,
 17335: 3464,
 17336: 7991,
 17337: 5259,
 17338: 2221,
 17339: 7622,
 17340: 6232,
 17341: 9768,
 17342: 7701,
 17344: 2230,
 17345: 4915,
 17346: 7964,
 17347: 10917,
 17348: 4383,
 17349: 6676,
 17350: 6797,
 17352: 5294,
 17353: 4134,
 17354: 7010,
 17355: 8360,
 17356: 7984,
 17358: 6428,
 17360: 20337,
 17361: 3131,
 17362: 3522,
 17363: 3592,
 17364: 3837,
 17365: 4503,
 17366: 42882,
 17367: 6879,
 17368: 7131,
 17369: 5570,
 17370: 5371,
 17371: 2219,
 17373: 2372,
 17374: 6884,
 17376: 2151,
 17378: 5657,
 17379: 2026,
 17381: 4068,
 17382: 6070,
 17383: 6847,
 17384: 3896,
 17385: 4814,
 17386: 8102,
 17387: 5410,
 17388: 46386,
 17389: 8309,
 17390: 7111,
 17391: 6388,
 17392: 4214,
 17393: 8817,
 17394: 7446,
 17395: 4351,
 17396: 2997,
 17397: 6678,
 17398: 2967}

2 - Ecrivez une instruction donnant l'identifiant de l'article ayant le plus de mots en utilisant le dictionnaire `length`.

In [33]:
is_greater = lambda x : all(x >= size for size in length.values())
greater = 0
for i in length:
    if is_greater(length[i]):
        greater = i
print(greater)

17388

In [17]:
is_greater = lambda x : all(x >= size for size in length.values())
d = {is_greater(length [i]) : i for i in length}
greater = d[True]
greater

17388

In [18]:
data = {i: len(n) for i, n in enumerate(news)}
is_greater = lambda x : all(x >= size for size in data.values())
d = {is_greater(data [i]) : i for i in data}
greater = d[True]
greater

89

3 - Faites de même sans utiliser le dictionnaire `length`, en agissant directement sur la variable `data`.

In [19]:
data = {i: n for i, n in enumerate(news)}
is_greater = lambda x : all(len(x) >= len(size) for size in data.values())
d = {is_greater(data [i]) : i for i in data}
greater = d[True]
greater

89

4 - Ecrire en une seule instruction le code qui, considérant la chaîne `s`, génère son accronyme, à savoir la chaine de caractères composées des initiales des différents mots qui composent la chaîne `s`. Par exemple, si `s` vaut `"Code pour générer des mots de passe à partir d'une phrase"`, l'instruction devra produire `"Cpgdmdpàpdp"`

In [23]:
s = "Code pour générer des mots de passe à partir d'une phrase"
chaine = "".join([word[0] for word in s.split()])
chaine

'Cpgdmdpàpdp'

5 - Modifiez le code précédent de sorte que les lettres de l'accronyme soient alternativement en majuscule et en minuscule. Avec la chaîne `s` précédente, la chaine retournée serait `"CpGdMdPàPdP"

In [44]:
s = "Code pour générer des mots de passe à partir d'une phrase"
chaine = "".join([word[0].upper() if idx%2 == 0 else word[0].lower() for idx, word in enumerate(s.split())])
chaine

'CpGdMdPàPdP'

6 - Modifiez le code de sorte que l'instruction produisent un accronyme constitués des majuscultes des initiales des mots, mais les initiales des mots dont l'indice est multiple de 3 ne devront pas inclus dans l'accronyme. Par exemple pour la chaine `s` précédente, l'instruction devra produire `'PGMDÀPP`

In [42]:
s = "Code pour générer des mots de passe à partir d'une phrase"
chaine = "".join([word[0].upper() for word in [s.split()[i] for i in [j for j in range(len(s.split())) if j%3 != 0]]])
chaine

'PGMDÀPP'

7 - Adaptez le code de sorte que dans la chaine produite, les caractères soient en majuscules et que pour les mots d'indice multiple de 3, au lieu de l'initiale on trouve la longueur du mots en termes de nombre de caractères. Par exemple, avec la chaine `s` précédente, la chaîne renvoyée serait `'4PG3MD5ÀP5P'`.

In [43]:
s = "Code pour générer des mots de passe à partir d'une phrase"
chaine = "".join([word[0].upper() if idx%3 != 0 else str(len(word)) for idx, word in enumerate(s.split())])
chaine

'4PG3MD5ÀP5P'